<div class="clr"><br/></div> 
<p style="text-align:center;margin-bottom:12px;">
	<img src="__static__/common/images/end.png">
</p>
<div id="foot_top">
	<div class="foot_top">
		<div class="footerContact">
			<i class="iconfont"></i>
			<b> {$Think.config.tel}</b>
			<span>客服热线</span>
			<span>9:00-18:00</span>
			<span>贴心服务</span>
		</div>
		<div class="footerTopRight">
			<div class="ftRight-tit">优惠促销早知道</div>
			<input id="subscribe_email" type="text" value="请输入您的邮箱地址" name="">
			<span id="subscribe_but">确定</span>
			<span class="email_tishi">请输入正确的邮箱格式</span>
		</div>
	</div>
</div>
<div id="footer-menu-bg">
	<div class="f-menu" style="width:1150px;padding-left:15px">
		<dl style="margin-left:10px">
			<dt>如何注册</dt>
			<dd><a target="_blank"  href="page.to?word=用户注册"> 用户注册</a></dd> 
			<dd><a target="_blank"  href="page.to?word=忘记密码"> 忘记密码</a></dd>
		</dl>
		<dl>
			<dt>如何下单</dt>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=下单流程"> 下单流程</a></dd>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=订单状态"> 订单状态</a></dd>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=优惠券"> 优惠券</a></dd>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=下单政策"> 下单政策</a></dd>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=报价单"> 报价单</a></dd>
			<dd><a target="_blank"  rel="nofollow" href="page.to?word=快速下单"> 快速下单</a></dd>
		</dl>
		<dl>
			<dt>如何支付</dt>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=网上支付"> 网上支付</a></dd>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=银行转账"> 银行转账</a></dd>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=COD货到刷卡"> COD货到刷卡</a></dd>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=信用支付"> 信用支付</a></dd>
		</dl>
		<dl>
			<dt>配送政策</dt>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=配送政策"> 配送政策</a></dd>
		</dl>
		<dl>
			<dt>售后服务</dt>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=售后政策"> 售后政策</a></dd>
			<dd><a target="_blank"  rel="nofollow"  href="page.to?word=如何退换修"> 如何退换修</a></dd><dd><a target="_blank"  rel="nofollow"  href="page.to?word=投诉与建议"> 投诉与建议</a></dd>
		</dl>
		<dl>
			<dt>网站导航</dt>
			<dd><a target="_blank"  rel="nofollow" href="catalog.html"> 全部产品分类</a></dd> 
			<dd><a target="_blank"  rel="nofollow" href="search-new"> 最新产品</a></dd>
			<dd><a target="_blank"  rel="nofollow" href="search-hot"> 热门产品</a></dd>
			<dd><a target="_blank"  rel="nofollow" href="help.html"> 帮助中心</a></dd>
			<dd><a target="_blank" href="sitemap.xml"> 网站地图</a></dd>
		</dl>
		<dl class="end">
			<dt>关于三九轴承网</dt>
			<dd><a target="_blank"  href="page-aboutus.html"> 公司介绍</a></dd> 
			<dd><a target="_blank"  rel="nofollow"  href="page-job.html"> 公司招聘</a></dd> 
			<dd><a target="_blank"  rel="nofollow"  href="page-partner.html"> 招商加盟</a></dd>
			<dd><a target="_blank"  href="page-contact.html"> 联系我们</a></dd>
		</dl>
	</div>
</div>
<a style="position:fixed;top:255px;left:0px;display:none;z-index:999;" href="{$Think.config.domain}/thread-8085996.html" target="_black" title="EXCEL轴承价格表">
	<img src="__static__/common/images/price_list.jpg" title="" alt="加载失败" width="150px" height="280px">
</a>

<div id="footer" style="width:995px;margin:0 auto;margin-top:100px;">
	<div class="f-promise" style="width:995px;margin:0 auto;">
	    <dl class="f-pro-quality">
		    <dt>货到付款</dt>
		   		<dd>先收货再付款，放心购买</dd>
		    </dl>
		    <dl class="f-pro-spot">
		   	    <dt>50000现货</dt><dd>现货产品4点前下单当天发货</dd>
		    </dl>
		    <dl class="f-pro-free_shipping">
		    	<dt>满500免运费</dt>
		    	<dd>部分区域订单满500免运费</dd>
		    </dl>
		    <dl class="f-pro-invoice">
		    	<dt>增值税专用发票</dt>
		    	<dd>可提供增值税专用发票</dd>
		    </dl>
		    <dl class="f-pro-7returned">
		    	<dt>7天无理由退换货</dt>
		    	<dd>安心采购,售后无忧</dd>
	    </dl>
	</div>
	<div class="f-quick-menu">
		<div>&copy;2016-<?=date('Y')?> 
			<a href="{$Think.config.domain}/">
				{$Think.config.sitename}</a> 版权所有&nbsp; &nbsp; <a rel="nofollow" href="http://www.miitbeian.gov.cn/">工信部沪ICP备13018602号
			</a>
		</div>
		<div class="safe-footer">
			<img src="__static__/common/images/footer_1.png" alt="{$Think.config.sitename}合作伙伴" title=""/> 
			<img src="__static__/common/images/footer_2.jpg" alt="{$Think.config.sitename}合作伙伴" title=""/> 
			<img src="__static__/common/images/footer_3.jpg" alt="{$Think.config.sitename}合作伙伴" title=""/> 
			<img src="__static__/common/images/footer_4.jpg" alt="{$Think.config.sitename}合作伙伴" title=""/> 
		</div>
	</div>
</div>
<div style="top: 654px; display: block;" class="back-top" id="backtop"></div>
	<div id="popLoading">
		<div class="pop-tip-m">
			<img src="__static__/common/images/loading.gif"> 
		</div>
	</div>
	<div id="return_top">
		<div id="izl_rmenu" class="izl-rmenu">
			<a href='http://wpa.qq.com/msgrd?v=3&uin={$Think.config.qq}&site=qq&menu=yes' style="text-decoration:none;" target=_balck>
				<div class="btn btn-phone" title="联系客服">
					联系<br/>客服
				</div>
			</a>
			<div class="btn btn-wechat" title="关注微信">
				<img src="__static__/common/images/two_code.png">
			</div>
			<div class="btn btn-top">
				<img class="btn-image" width="50" height="50" src="__static__/common/images/top.png">
			</div>
		</div>
	</div>  
	<div class="weichat_img">
		<div style="text-align:left;" title="微信扫码，惊喜连连！">
			<img src="__static__/common/images/qr_code.jpg" style="width:150px;background-color:#efefef;">
		</div>
	</div>

<script>
$(function(){
	var tophtml=document.getElementById('izl_rmenu');
	$("#izl_rmenu").each(function()
	{
		$(this).find(".btn-phone").mouseenter(function()
		{
			$(this).find(".phone").fadeIn("fast");
			
		});
		$(this).find(".btn-phone").mouseleave(function()
		{
			$(this).find(".phone").fadeOut("fast");
		});
		
		$(this).find(".btn-wechat").mouseenter(function()
		{
			$(this).find(".wechat").fadeIn("fast");
			$('.weichat_img').show();
		});
		$(this).find(".btn-wechat").mouseleave(function()
		{
			$(this).find(".wechat").fadeOut("fast");
			$('.weichat_img').hide();
		});
		
		$(this).find(".btn-top").mouseenter(function()
		{
			$(this).html('回到<br/>顶部');
		});
		$(this).find(".btn-top").mouseleave(function()
		{
			$(this).html('<img class="btn-image" width="50" height="50" src="__static__/common/images/top.png">');
		});
		
		$(this).find(".btn-top").click(function()
		{
			$("html, body").animate({
				"scroll-top":0
			},"fast");
		});
	});
	var lastRmenuStatus=false;
	$(window).scroll(function()
	{
		var _top=$(window).scrollTop();
		if(_top>500)
		{
			$("#izl_rmenu").data("expanded",true);
		}
		else
		{
			$("#izl_rmenu").data("expanded",false);
		}
		if($("#izl_rmenu").data("expanded")!=lastRmenuStatus)
		{
			lastRmenuStatus=$("#izl_rmenu").data("expanded");
			if(lastRmenuStatus)
			{
				$("#izl_rmenu .btn-top").slideDown();
			}
			else
			{
				$("#izl_rmenu .btn-top").slideUp();
			}
		}
	});
}); 
</script>

<script type="text/javascript" src="__static__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__static__/home/js/index.js" ></script>