<script type="text/javascript" src="__static__/home/js/index.js"></script>
<link href="__static__/home/css/index.min.css" rel="stylesheet" type="text/css">

<div id="top">
    <div class="toolbar">
		<ul class="top_ul">
			<li><a style="color:#FF4200;" href="{$Think.config.domain}">欢迎进入{$Think.config.sitename}</a></li>
		</ul>
		<ul class="top_ul top_right">
			<li>
				<img src="__static__/home/images/message_ico.png" alt="加载失败" title="" />
				<a href="">消息</a>
			</li>
			<li>
				<span>|</span>
			</li>
			<li class="head_app" style="cursor:pointer;position:relative;">
				<span>手机版</span>
				<img src="__static__/home/images/head_app.jpg" class="head_app_img" style="position:absolute;top:35px;left:6px;"/>
			</li>
			<li>
				<span>|</span>
			</li>
			<li id="collection_li" style="width:79px;position:relative;">
				<img src="__static__/home/images/star.png" alt="加载失败" title="" />
				<a href="" target="_blank">
					收藏夹
				</a>
				<span id="collection_span" style="float:right;width:20px;height:20px;display:block;padding-top:13px;">
					<em class="arrow-off" id="fnInitArr2"></em> 			
				</span>	
				<ul id="collection_hidden_ul" class="hidden_ul" style="z-index:111">
					<li>
						<a href=''>收藏的宝贝</a>
					</li>
					<li>
						<a href=''>收藏的店铺</a>
					</li>
				</ul>
			</li>
			<li>
				<span>|</span>
			</li>
			<li>
				<img src="__static__/home/images/buycar.png" alt="加载失败" title="" >
				<a href="" target='_black'>购物车</a>
			</li>
			&nbsp;	
			<li id="arrow_li" style="position:relative">
				<script language="javascript" src=""></script>
		
					<span id="arrow_span" style="float:right;width:20px;height:20px;display:block;padding-top:13px;">
						<em class="arrow-off" id="fnInitArr"></em> 
					</span>	

				<ul id="shop_hidden_ul" class="hidden_ul" style="z-index:111">
					<li>
						<a href=''>我的订单</a>
					</li>
					<li>
						<a href=''>个人资料</a>
					</li>
					<li>
						<a href=''>退出</a>
					</li>
				</ul>
			</li>
			<li>
				<script language="javascript" src=""></script>
			</li>
			<li>
				<span>|</span>
			</li>
			<li class="last_tel">
			  <b>℡ {$Think.config.tel}</b>
			</li>
		</ul>
		
		
    </div>
</div>
