<!--_meta 作为公共模版分离出去-->
{include file="common/_meta" /}
<!--/_meta 作为公共模版分离出去-->

<title>采购信息列表</title>
<link rel="stylesheet" href="__static__/admin/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>

<!--_header 作为公共模版分离出去-->
{include file="common/_header" /}
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
{include file="common/_menu" /}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 采购信息管理 <span class="c-gray en">&gt;</span> 采购信息列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<div>
			<div class="pd-20">
				<div class="text-c"> 
					<form action="{:url('info_list')}" method="post">
						<!-- 日期范围：
						<input type="text" onfocus="" id="logmin" class="input-text Wdate" style="width:120px;">
						-
						<input type="text" onfocus="" id="logmax" class="input-text Wdate" style="width:120px;"> -->
						<input type="text" name="keywords" id="" placeholder=" 采购信息型号" style="width:250px" class="input-text">
						<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
					</form>
				</div>
				<div class="cl pd-5 bg-1 bk-gray mt-20"> 
					<span class="l">
						<a href="javascript:;" onclick="some_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
						<a class="btn btn-primary radius" data-title="添加采购信息" href="info_add">
						<i class="Hui-iconfont">&#xe600;</i> 添加采购信息
					</a>
					</span> 
					<span class="r">共有数据：<strong>{$count_info}</strong> 条</span> 
				</div>
				<div class="mt-20">
					<table class="table table-border table-bordered table-bg table-hover table-sort">
						<thead>
							<tr class="text-c">
								<th width="40"><input name="" type="checkbox" value=""></th>
								<th width="40">ID</th>
								<th width="60">缩略图</th>
								<th width="150">采购型号</th>
								<th width="50">数量</th>
								<th width="40">质量</th>
								<th width="40">包装</th>
								<th width="70">发票</th>
								<th width="60">供应商</th>
								<th>描述</th>
								<th width="77">开始日期</th>
								<th width="77">截止日期</th>
								<th width="66">发货期限</th>
								<th width="66">报价信息</th>
								<th width="66">是否发布</th>
								<th width="100">操作</th>
							</tr>
						</thead>
						<tbody>
							{foreach $data as $val}
							<tr class="text-c va-m">
								<td><input name="some_del" type="checkbox" value="{$val.info_id}"></td>
								<td>{$val.info_id}</td>
								<td><a href="javascript:;" target=_black><img width="60" class="product-thumb" src="/uploads/{$val.image}"></a></td>
								<td class="text-l"><a style="text-decoration:none" onClick="" href="javascript:;">{$val.model_name}</a></td>
								<td>{$val.number}</td>
								<td>{$val.quality}</td>
								<td>{$val.pack}</td>
								<td>{$val.invoice}</td>
								<td>{$val.supplier}</td>
								<td class="text-l">{$val.remark}</td>
								<td>{$val.start_time}</td>
								<td>{$val.end_time}</td>
								<td>{$val.term}天</td>
								<td><a href="{:url('offer/offer_list',array('info_id'=>$val['info_id']))}"><span class="label label-success radius">查看</span></a></td>
								<td class="td-status"> {if condition="$val['is_show'] eq '1'"} <span class="label label-success radius">已发布</span> {else} <span class="label label-defaunt radius">未发布</span> {/if}</td>
								<td class="td-manage">
									{if condition="$val['is_show'] eq '1'"} 
										<a style="text-decoration:none" onClick="product_stop(this,{$val.info_id})" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a> 
									{else} 
										<a style="text-decoration:none" onClick="product_start(this,{$val.info_id})" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
									{/if}
									<a style="text-decoration:none" class="ml-5" href="{:url('info_edit',array('info_id'=>$val['info_id']))}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
									<a style="text-decoration:none" class="ml-5" onclick="return confirm('是否确认删除？');" href="{:url('del',array('info_id'=>$val['info_id']))}" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
								</td>
							</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{$data->render()}
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="common/_footer" /}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__static__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__static__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__static__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__static__/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript">
var setting = {
	view: {
		dblClickExpand: false,
		showLine: false,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "pId",
			rootPId: ""
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("tree");
			if (treeNode.isParent) {
				zTree.expandNode(treeNode);
				return false;
			} else {
				demoIframe.attr("src",treeNode.file + ".html");
				return true;
			}
		}
	}
};

var code;

function showCode(str) {
	if (!code) code = $("#code");
	code.empty();
	code.append("<li>"+str+"</li>");
}

$(document).ready(function(){
	var t = $("#treeDemo");
	t = $.fn.zTree.init(t, setting, zNodes);
	demoIframe = $("#testIframe");
	demoIframe.bind("load", loadReady);
	var zTree = $.fn.zTree.getZTreeObj("tree");
	zTree.selectNode(zTree.getNodeByParam("id",'11'));
});

$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"bInfo":false,  
	"bPaginate": false, //翻页功能
	"aoColumnDefs": [
	  {"orderable":false,"aTargets":[0,7]}// 制定列不参与排序
	]
});
/*批量删除*/
function some_del(){
	$res = confirm('确定要删除吗？');

	if($res == true){
		var check = document.getElementsByName("some_del");
		var len=check.length;
		var idAll="";

		for(var i=0;i<len;i++){
			if(check[i].checked){
				idAll+=check[i].value+",";
			}
		}

		window.location.href="some_del?idAll="+idAll;
	}
}
/*图片-添加*/
function info_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-查看*/
function product_show(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-审核*/
function product_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过'],
		shade: false
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});
}
/*图片下架*/
function product_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){

		$.ajax({
			type: "POST",
			url:"{:url('info_status')}",
			data: {info_id:id,status:'0'},
			dataType: "text",
			success: function(data){
				if(data == 1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_start(this,'+id+')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">未发布</span>');
					$(obj).remove();
					layer.msg('已下架!',{icon: 5,time:1000});
				}else{
					layer.msg('下架失败!');				
				}	
			}
		});

	});
}

/*图片发布*/
function product_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){

		$.ajax({
			type: "POST",
			url:"{:url('info_status')}",
			data: {info_id:id,status:'1'},
			dataType: "text",
			success: function(data){
				if(data == 1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_stop(this,'+id+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
					$(obj).remove();
					layer.msg('已发布!',{icon: 6,time:1000});
				}else{
					layer.msg('发布失败!');				
				}	
			}
		});

	});
}
/*图片-申请上线*/
function product_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
/*图片-编辑*/
function product_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-删除*/
function product_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>